#DB2
DB_CMS_USER=db2inst1
DB_CMS_PASSWORD=db2inst1-pwd
DB_CMS_DB2_HOST=localhost
DB_CMS_DB2_PORT=50000
DB_CMS_DB_NAME=DB0TDEV

#case-api
CASE_API_PORT=8080
SHIRO_CONFIG_PATH=/opt/case-management-api/config/shiro.ini
SHIRO_NOSEC_CONFIG_PATH=/opt/case-management-api/config/shiro_nosec.ini
REPOSITORY=mzemlyanoi
